/* reset */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* mix */
.container{
   width: 100%;
   height: 100vh;
   background: linear-gradient(to top, #DBDBD2 85%, #009688 85%);
   display: flex;
}
.appWindow{
   width: 80%;
   height: 95%;
   margin: auto;
   display: flex;
   border-radius: 10px;
   overflow: hidden;
   font-family: 'Lato', sans-serif;
}
.contacts{
   width: 35%;
   height: 100%;
   background-color: white;
   border-right: 1px solid #cacaca;
}
.chat{
   width: 65%;
   height: 100%;
   background-color: white;
}

/* top nav bars */
.contactsNav,
.chatNav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   background-color: #DBDBD2;
   padding:0 25px;
}
.contacts img,
.chatNav img{
   max-width: 50px;
   border-radius: 50%;
   margin-right: 12px;
}
.contactsNav .settings ul,
.chatNav .settings ul{
   list-style: none;
   display: flex;
}
.contactsNav .userInfo,
.chatNav .userInfo{
   display: flex;
   font-size: 20px;
   align-items: center;
}
.contactsNav .settings ul i,
.chatNav .settings ul i{
   margin-left: 15px;
   font-size: 20px;
   color: #B1B1B1;
   cursor: pointer;
}
.contactsNav .settings ul i:hover,
.chatNav .settings ul i:hover{
   color: #6B7376
}

/* ACTIVE NOTIFICATIONS */
.notifications{
   background-color: #8EDAFC;
   display: flex;
   align-items: center;
   height: 90px;
   padding:0 25px;
}
.notifications .icon{
   width: 50px;
   height: 50px;
   background-color: #fff;
   color: #8EDAFC;
   border-radius: 50%;
   font-size: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 15px;
}
.notifications a{
   color: #6B7376;
}

/* SEARCH CONTACT */
.searchContact{
   display: flex;
   padding: 5px;
   height: 40px;
}
.searchContact .icon{
   width: 10%;
   background-color: #fff;
   text-align: center;
   color: #B1B1B1;
   border: 1px solid #fafafa;
   display: flex;
   align-items: center;
   justify-content: center;
}
.searchContact .input{
   border: 1px solid #fafafa;
   border-left: transparent;
   width: 90%;
   display: flex;
   align-items: center;
}
.searchContact .input input{
   border: transparent;
   width: 100%;
   margin-left: 30px;
}
.searchContact .input input:focus{
   outline: transparent;
}